mat-toolbar{
  background-color: #e64026;
}

.spacer {
    flex: 1 1 auto;
  }
  
  footer{
    padding: 0;
    position:static;
    bottom:0px;
  }
  
  .nav
  {
    font-size: 120%;
  }

  .user_button{
    width: 100%;
  }

  a{
    text-decoration: none;
    color: #ffff;
  }

  mat-card{
    display: flex;
  }