<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
        <mat-toolbar>Navegacion</mat-toolbar>
        <mat-nav-list class="nav">

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="secondary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        Calculadora geodésica de coordenadas UTM y TME para México
        </mat-toolbar>

        <div class="Contenido">
            <router-outlet></router-outlet>

            <footer>
                <mat-card>
                    <!-- <mat-card-subtitle>Copyright © 2022 Kreysh. <a href="https://creativecommons.org/licenses/by/4.0/deed.es_ES">Licencia de Creative Commons Reconocimiento 4.0 Internacional.</a></mat-card-subtitle> -->
                    <mat-card-subtitle><a href="https://forms.gle/E2xFWTTj1uEA79MZ6">Copyright © 2022 Kreysh.</a>Licencia de Creative Commons Reconocimiento 4.0 <a href="https://forms.gle/JcxjJz7nAk76Vx9s8">Internacional.</a></mat-card-subtitle>

                </mat-card>
            </footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>