.inputs{
  padding: 1%;
}

.contenedor{
  padding: 1%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
}

.example-full-width {
  width: 100%;
}

.footer{
  display: flex;
}

.info{
  width: 50%;
}

.datum{
  width: 50%;
  display: flex;
}

.ITRF{
  width: 50%;
}

.NAD{
  width: 50%;
}

.row{
  justify-content: center;
}

.col{
  justify-content: space-between;
}

button{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 10px;
  height: 3rem;
  width: 50%;
  border-radius: 7px;
  background-color: #ff7a04;
}

.calcBox{
  margin-top: 10px;
  min-height: 40vh;
}

.calcOp{
  margin-top: 10px;
}